#Entity Association Around the Super Bowl

In [7]:
import pandas as pd
from nltk.tokenize import word_tokenize
from re import sub

In [8]:
tweets = pd.read_csv("ReplacedTweetsMerged.csv")

In [9]:
tweets.head()

                                               Tweet
0  RT @mommyinsomnia: Sad millionaires crying on ...
1                Victory SB50 https://tco/UuXhmM8t2R
2  RT @NFL: Let the confetti fall\n\nHey Denver t...
3  RT @CB100991: @LeonKnight_ cam newtons gone fr...
4  Congratulations to Homer Simpson and the Denve...

In [10]:
tweets.shape

(17852, 1)

In [11]:
hashtags = ['Bernie','Beyonce','BlackLivesMatter','Cruz','HillaryClinton','SB50','Trump']

##All

In [12]:
#Gathering all posts and counting mentions of models
mentions = []
for i in range(len(tweets.index)):
    x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[i]['Tweet'])))
    single_mention = []
    for j in range(len(x)):
        if x[j] in hashtags:
            single_mention.append(x[j])
    if single_mention:
        for k in range(len(pd.Series(single_mention).value_counts())):
            mentions.append(pd.Series(single_mention).value_counts().index[k])

In [13]:
#top ten most mentioned hashtags
most_mentioned_hashtags = pd.Series(mentions).value_counts()
most_mentioned_hashtags

SB50                6518
Beyonce             3252
Trump               1914
Bernie              1608
Cruz                 717
HillaryClinton       412
BlackLivesMatter     224
dtype: int64

In [14]:
#Gererating dataframe for lift calculations
mentions_df = pd.DataFrame(index = range(len(tweets)))
for i in hashtags:
    mentions = []
    for j in range(len(tweets.index)):
        x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[j]['Tweet'])))
        single_mention = []
        for k in range(len(x)):
            if x[k] == i:
                single_mention.append(x[k])
        if single_mention:
            mentions.append(1)
        else:
            mentions.append(0)
    mentions_df[i] = pd.Series(mentions)

In [15]:
mentions_df.shape

(17852, 7)

In [16]:
mentions_df.head()

   Bernie  Beyonce  BlackLivesMatter  Cruz  HillaryClinton  SB50  Trump
0       0        0                 0     0               0     1      0
1       0        0                 0     0               0     1      0
2       0        0                 0     0               0     1      0
3       0        0                 0     0               0     1      0
4       0        0                 0     0               0     1      0

In [17]:
#Write to csv for processing using 'lift calculations.R'
mentions_df.to_csv('mentions_binary.csv', header=True, index=False)

## 1. SB Start

In [18]:
tweets = pd.read_csv("ReplacedTweets1.csv")
tweets.shape

(2698, 2)

In [19]:
tweets.head()

                                               Tweet         Flag
0  RT @tinatbh: very sad to hear about donald tru...  1. SB Start
1  RT @GlamtwinKels1: Always Stay gracious best r...  1. SB Start
2  RT @KaiserGeiser: Those who didn't get it: @la...  1. SB Start
3  Am I the only one who thinks a SB party is dum...  1. SB Start
4  RT @daniecal: Beyonce video said 'Stop shootin...  1. SB Start

In [20]:
#Gathering all posts and counting mentions of models
mentions = []
for i in range(len(tweets.index)):
    x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[i]['Tweet'])))
    single_mention = []
    for j in range(len(x)):
        if x[j] in hashtags:
            single_mention.append(x[j])
    if single_mention:
        for k in range(len(pd.Series(single_mention).value_counts())):
            mentions.append(pd.Series(single_mention).value_counts().index[k])
            
#top ten most mentioned hashtags
pd.Series(mentions).value_counts()

SB50                1311
Beyonce              468
Trump                224
Bernie               137
Cruz                 111
BlackLivesMatter      17
HillaryClinton        14
dtype: int64

In [21]:
#Gererating dataframe for lift calculations
mentions_df = pd.DataFrame(index = range(len(tweets)))
for i in hashtags:
    mentions = []
    for j in range(len(tweets.index)):
        x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[j]['Tweet'])))
        single_mention = []
        for k in range(len(x)):
            if x[k] == i:
                single_mention.append(x[k])
        if single_mention:
            mentions.append(1)
        else:
            mentions.append(0)
    mentions_df[i] = pd.Series(mentions)

mentions_df.shape

(2698, 7)

In [22]:
mentions_df.head()

   Bernie  Beyonce  BlackLivesMatter  Cruz  HillaryClinton  SB50  Trump
0       0        0                 0     0               0     0      0
1       0        1                 0     0               0     0      0
2       0        1                 0     0               0     0      0
3       0        0                 0     0               0     1      0
4       0        1                 0     0               0     0      0

In [23]:
mentions_df.to_csv('mentions_binary1.csv', header=True, index=False)

## 2. SB End

In [24]:
tweets = pd.read_csv("ReplacedTweets2.csv")
tweets.shape

(2618, 2)

In [25]:
#Gathering all posts and counting mentions of models
mentions = []
for i in range(len(tweets.index)):
    x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[i]['Tweet'])))
    single_mention = []
    for j in range(len(x)):
        if x[j] in hashtags:
            single_mention.append(x[j])
    if single_mention:
        for k in range(len(pd.Series(single_mention).value_counts())):
            mentions.append(pd.Series(single_mention).value_counts().index[k])
            
#top ten most mentioned hashtags
pd.Series(mentions).value_counts()

SB50                2130
Beyonce              255
Bernie                24
Trump                 20
Cruz                  15
BlackLivesMatter       6
HillaryClinton         1
dtype: int64

In [26]:
#Gererating dataframe for lift calculations
mentions_df = pd.DataFrame(index = range(len(tweets)))
for i in hashtags:
    mentions = []
    for j in range(len(tweets.index)):
        x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[j]['Tweet'])))
        single_mention = []
        for k in range(len(x)):
            if x[k] == i:
                single_mention.append(x[k])
        if single_mention:
            mentions.append(1)
        else:
            mentions.append(0)
    mentions_df[i] = pd.Series(mentions)

mentions_df.to_csv('mentions_binary2.csv', header=True, index=False)
mentions_df.shape

(2618, 7)

## 3. Post SB

In [27]:
tweets = pd.read_csv("ReplacedTweets3.csv")
tweets.shape

(3896, 2)

In [28]:
#Gathering all posts and counting mentions of models
mentions = []
for i in range(len(tweets.index)):
    x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[i]['Tweet'])))
    single_mention = []
    for j in range(len(x)):
        if x[j] in hashtags:
            single_mention.append(x[j])
    if single_mention:
        for k in range(len(pd.Series(single_mention).value_counts())):
            mentions.append(pd.Series(single_mention).value_counts().index[k])
            
#top ten most mentioned hashtags
pd.Series(mentions).value_counts()

SB50                2922
Beyonce              496
Trump                 22
Bernie                15
Cruz                   7
BlackLivesMatter       3
HillaryClinton         1
dtype: int64

In [29]:
#Gererating dataframe for lift calculations
mentions_df = pd.DataFrame(index = range(len(tweets)))
for i in hashtags:
    mentions = []
    for j in range(len(tweets.index)):
        x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[j]['Tweet'])))
        single_mention = []
        for k in range(len(x)):
            if x[k] == i:
                single_mention.append(x[k])
        if single_mention:
            mentions.append(1)
        else:
            mentions.append(0)
    mentions_df[i] = pd.Series(mentions)

mentions_df.to_csv('mentions_binary3.csv', header=True, index=False)
mentions_df.shape

(3896, 7)

## 4. Midweek

In [30]:
tweets = pd.read_csv("ReplacedTweets4.csv")
tweets.shape

(6001, 2)

In [31]:
#Gathering all posts and counting mentions of models
mentions = []
for i in range(len(tweets.index)):
    x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[i]['Tweet'])))
    single_mention = []
    for j in range(len(x)):
        if x[j] in hashtags:
            single_mention.append(x[j])
    if single_mention:
        for k in range(len(pd.Series(single_mention).value_counts())):
            mentions.append(pd.Series(single_mention).value_counts().index[k])
            
#top ten most mentioned hashtags
pd.Series(mentions).value_counts()

Trump               1561
Beyonce             1066
Bernie               962
Cruz                 562
HillaryClinton       327
SB50                 143
BlackLivesMatter      90
dtype: int64

In [32]:
#Gererating dataframe for lift calculations
mentions_df = pd.DataFrame(index = range(len(tweets)))
for i in hashtags:
    mentions = []
    for j in range(len(tweets.index)):
        x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[j]['Tweet'])))
        single_mention = []
        for k in range(len(x)):
            if x[k] == i:
                single_mention.append(x[k])
        if single_mention:
            mentions.append(1)
        else:
            mentions.append(0)
    mentions_df[i] = pd.Series(mentions)

mentions_df.to_csv('mentions_binary4.csv', header=True, index=False)
mentions_df.shape

(6001, 7)

## 5. Weekend

In [33]:
tweets = pd.read_csv("ReplacedTweets5.csv")
tweets.shape

(2639, 2)

In [34]:
#Gathering all posts and counting mentions of models
mentions = []
for i in range(len(tweets.index)):
    x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[i]['Tweet'])))
    single_mention = []
    for j in range(len(x)):
        if x[j] in hashtags:
            single_mention.append(x[j])
    if single_mention:
        for k in range(len(pd.Series(single_mention).value_counts())):
            mentions.append(pd.Series(single_mention).value_counts().index[k])
            
#top ten most mentioned hashtags
pd.Series(mentions).value_counts()

Beyonce             967
Bernie              470
BlackLivesMatter    108
Trump                87
HillaryClinton       69
Cruz                 22
SB50                 12
dtype: int64

In [35]:
#Gererating dataframe for lift calculations
mentions_df = pd.DataFrame(index = range(len(tweets)))
for i in hashtags:
    mentions = []
    for j in range(len(tweets.index)):
        x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[j]['Tweet'])))
        single_mention = []
        for k in range(len(x)):
            if x[k] == i:
                single_mention.append(x[k])
        if single_mention:
            mentions.append(1)
        else:
            mentions.append(0)
    mentions_df[i] = pd.Series(mentions)

mentions_df.to_csv('mentions_binary5.csv', header=True, index=False)
mentions_df.shape

(2639, 7)

## SB Day

In [36]:
tweets = pd.read_csv("ReplacedTweetsSB.csv")
tweets.shape

(9212, 2)

In [37]:
#Gathering all posts and counting mentions of models
mentions = []
for i in range(len(tweets.index)):
    x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[i]['Tweet'])))
    single_mention = []
    for j in range(len(x)):
        if x[j] in hashtags:
            single_mention.append(x[j])
    if single_mention:
        for k in range(len(pd.Series(single_mention).value_counts())):
            mentions.append(pd.Series(single_mention).value_counts().index[k])
            
#top ten most mentioned hashtags
pd.Series(mentions).value_counts()

SB50                6363
Beyonce             1219
Trump                266
Bernie               176
Cruz                 133
BlackLivesMatter      26
HillaryClinton        16
dtype: int64

In [38]:
#Gererating dataframe for lift calculations
mentions_df = pd.DataFrame(index = range(len(tweets)))
for i in hashtags:
    mentions = []
    for j in range(len(tweets.index)):
        x = word_tokenize(sub('[^a-zA-Z0-9]', ' ', str(tweets.ix[j]['Tweet'])))
        single_mention = []
        for k in range(len(x)):
            if x[k] == i:
                single_mention.append(x[k])
        if single_mention:
            mentions.append(1)
        else:
            mentions.append(0)
    mentions_df[i] = pd.Series(mentions)


mentions_df.to_csv('mentions_binarySB.csv', header=True, index=False)
mentions_df.shape

(9212, 7)